# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.DS_Store

# Go
# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build output
/bin/

# Test artifacts
*.test
coverage.out

# IDE and Editor Files
.vscode/
.idea/

# archive files
.tar.gz
