services:
  grafana:
    extends:
      file: .config/docker-compose-base.yaml
      service: grafana
    volumes:
      - ./provisioning/datasources:/etc/grafana/provisioning/datasources
volumes:
  grafana-storage:
